<!DOCTYPE html>

<html>
    <head>
        <title>Bienvenue</title>
        <meta charset="${_response_encoding}">
    </head>
    <body>
        <h1>Bienvenue sur Contact Viewer</h1>
        
    	<form action="https://www.googleapis.com/oauth2/v4/token" method="POST" >
    		<input type="hidden" name="code" value="${code}" />
    		<input type="hidden" name="client_id" value="1012335406269-bbij7i5fc8ouhefgf6qlnnh878b80vm0.apps.googleusercontent.com" />
    		<input type="hidden" name="client_secret" value="hYbMsEPhgw0sCFZvtqzkzR4F" />
    		<input type="hidden" name="redirect_uri" value="http://aqueous-hamlet-7793.herokuapp.com/" />
    		<input type="hidden" name="grant_type" value="authorization_code" />
    		<input type="submit" value="Get token! Click here!" />
    	</form>
    </body>
</html>

